<header>
    <div class="column">
        <img src="../../assets/images/jira-logo-scaled.png" alt="Veritas Document Solutions">
    </div>
    <div class="column">
        <nav class="main-nav">
            <ul class="nav-wrapper">
                <li class="nav-link">
                    <a href="#">Projects</a>
                </li>
                <li class="nav-link">
                    <a href="#">Reports</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="column">
        <label><i class="fas fa-user"></i>&nbsp;<a class="header-link" href="#" title="Profile">Veritas User</a>&nbsp;(&nbsp;<a class="header-link" href="#" title="logout">Logout</a>&nbsp;)</label>
    </div>
</header>
