<header>
    <div class="grid-3">
        <div class="col-1">
            <img src="../../assets/images/logo.png" alt="Veritas Document Solutions">
        </div>
        <div class="col-2">
            <nav class="txt-center">
                <a class="nav-link" href="#" routerLink="/dashboard" routerLinkActive="nav-link-active">Projects</a>
                <a class="nav-link" href="#" routerLink="/reports" routerLinkActive="nav-link-active">Reports</a>
            </nav>
        </div>
        <div class="col-3">
            <i class="icon fas fa-user"></i>&nbsp;<label id="user">Veritas User</label>&nbsp;(&nbsp;<a class="link" routerLink="">logout</a>&nbsp;)
        </div>
    </div>
</header>

