@import 'reset';
@import 'atoms';

/**************************************************
    global styles
**************************************************/

html {
    font-size: $font-base;
    color: $body;
}

body {
    font-size: $font-md;
    line-height: $scale-fifth;
}