/**************************************************************************************************
    RESET: only used in reset
**************************************************************************************************/
/**************************************************************************************************
    COLORS: use lighten() or darken() Sass to control color value
**************************************************************************************************/
/**************************************************************************************************
    TYPOGRAPHY: base font of 16px and 1.5 line height
**************************************************************************************************/
/**************************************************************************************************
    POSITIONING
**************************************************************************************************/
/**************************************************************************************************
    LAYOUT: flexbox grid

    - Flexbox: 
        @include flex;
    - Flex Direction: 
        @include flex-flow(); default is row 
        (row-reverse, column, column-reverse)
    - Flex Wrap: 
        @include flex-wrap(); default is nowrap 
        (wrap, wrap-reverse)
    - Flex Justify Content: 
        @include flex-justify(); default is flex-start 
        (flex-end, center, space-between, space-around)
    - Flex Align Items: 
        @include flex-align(); default is stretch 
        (flex-start, flex-end, center)
    - Flex Align Content: 
        @include flex-content(); default is stretch 
        (flex-start, flex-end, center, space-between, space-around)
    - Flex Order: 
        @include flex-order(); default is 0
    - Flex Grow:  
        @include flex-grow(); default is 0
    - Flex Shrink: 
        @include flex-shrink(); default is 1
    - Flex Basis: 
        @include flex-basis(); default is auto
    - Flex Align Self: 
        @include flex-self(); default is auto 
        (flex-start, flex-end, center, stretch)

**************************************************************************************************/
/* flexbox container mixins */
/* flexbox item mixins */
/* flexbox grid mixins */
/* width helper */
/* layout helpers */
/* scroll overflow */
/* @include space($type, $direction, $amount); */
/**************************************************************************************************
    VISUAL ACCENTS: borders, shadows and opacity
**************************************************************************************************/
/* @include border($direction, $size, $type, $color); */
/* @include radius($direction, $size); */
/* @include radius($type, $horizontal, $vertical, $blur, $spread, $color); */
/**************************************************************************************************
    LISTS AND TABLES
**************************************************************************************************/
/**************************************************
    RESET
**************************************************/
@-ms-viewport {
  width: device-width;
}

* {
  border: 0 none transparent;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
  width: auto;
  outline: 0;
  background: none;
  height: auto;
  list-style: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-padding-before: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  -webkit-padding-start: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

dt,
dd {
  display: inline;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a {
  cursor: pointer;
}

input[type="text"] {
  border: 1px solid #d6d6d6;
  padding: 8px;
  width: 100%;
}

/**************************************************
    GRID
**************************************************/
.container {
  display: block;
}

.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.column {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}

.column-1 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
}

.column-2 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
}

.column-3 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}

.column-4 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
}

.column-5 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
}

.column-6 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}

.column-7 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
}

.column-8 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
}

.column-9 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
}

.column-10 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
}

.column-11 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 91.66667;
  flex-basis: 91.66667;
}

.column-12 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

/**************************************************
    PAGE
**************************************************/
html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #e6e6e6;
}

body {
  font-size: 1rem;
  color: #1a1a1a;
  max-width: 90%;
  margin: 0 auto;
}

main {
  padding: 16px;
  background: #ffffff;
}

/**************************************************
    COMPONENT
**************************************************/
/* links and button components */
.icon-link,
.link {
  color: #277100;
}

/* button component */
.icon-button {
  border: 1px solid #cccccc;
  color: #277100;
  background: #e6e6e6;
}

/* form components */
.search {
  display: block;
  margin-top: 16px;
}

.search .ui-inputgroup {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.search .ui-inputgroup .ui-inputtext {
  display: inline-block;
  margin-right: -4px;
  width: 100%;
}

.search .ui-inputgroup .icon-button {
  display: inline-block;
  margin-right: -4px;
  width: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

/* header component */
header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  padding: 16px;
  background: #277100;
}

header .column:first-child {
  text-align: left;
}

header .column:last-child {
  text-align: right;
  color: #ffffff;
}

header .column:last-child .header-link {
  color: #ffffff;
}

header .column:last-child .header-link:hover {
  text-decoration: underline;
}

/* main navigation component */
.main-nav {
  display: block;
  text-align: center;
}

.main-nav .nav-wrapper {
  margin: 0 auto;
}

.main-nav .nav-wrapper .nav-link {
  display: inline-block;
  margin-right: -4px;
  margin-right: -2px;
  padding: 16px;
  text-align: center;
  background: #308a00;
  min-width: 200px;
  cursor: pointer;
}

.main-nav .nav-wrapper .nav-link a {
  color: #ffffff;
}

.main-nav .nav-wrapper .nav-link:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.main-nav .nav-wrapper .nav-link:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.main-nav .nav-wrapper .nav-link:hover {
  background: #39a400;
}

/* command bar component */
.commandbar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.commandbar .column:first-child {
  text-align: left;
}

.commandbar .column:last-child {
  text-align: right;
}
