<div class="login">
    <div class="form-group">
        <ul>
            <li class="form-input">
                <div class="input-text">
                    <span class="ui-float-label"><input id="UserName" type="text" pInputText><label for="UserName">User Name</label></span>
                </div>
            </li>
            <li class="form-input">
                <div class="input-text">
                    <span class="ui-float-label"><input id="UserName" type="text" pInputText><label for="UserName">Password</label></span>
                </div>
            </li>
            <li class="form-input">
                <button pButton id="btnLogin" type="button" label="Login" (click)="login()" class="button-primary"></button>
            </li>
        </ul>
        <p>
            <a id="lnkForgotPassword" class="link" routerLink="/forgotpassword">Forgot Password</a>
        </p>
    </div>
</div>
