<div class="login">
    <div class="form-group">
        <ul>
            <li class="form-input">
                <!-- PrimeNG input text (placeholder only for demo) -->
                <div class="input-text">
                    <input type="text" placeholder="User Name" class="ui-inputtext ui-corner-all ui-state-default">
                </div>
            </li>
            <li class="form-input">
                <!-- PrimeNG input text (placeholder only for demo) -->
                <div class="input-text">
                    <input type="text" placeholder="Password" class="ui-inputtext ui-corner-all ui-state-default">
                </div>
            </li>
            <li class="form-input button-primary txt-center">
                Login
            </li>
        </ul>
        <p>
            <a class="link" href="#">Forgot Password</a>
        </p>
    </div>
</div>
