<div class="container">
    <div class="row">
        <div class="columns-6 px-1">
        <h1 class="f-beta t-s500">Project</h1>
        </div>
        <div class="columns-6 py-1 f-right">
            <button pButton id="btnSave" type="button" label="Save" class="bg-p500"></button>
        </div>
    </div>
    <div class="row">
        <div class="columns-6 px-1 py-4">
            <ul class="p-4 ">
                <li>
                    <h2 class="f-md f-bold">Information</h2>
                </li>
                <li class="mt-4">
                    <p-dropdown [style]="{'width':'375px'}" [options]="ClientName" [(ngModel)]="ClientName" placeholder="Select a Client" optionLabel="clients" [showClear]="false"></p-dropdown>
                </li>
                <li class="mt-4">
                    <p-dropdown [style]="{'width':'375px'}" [options]="ClientPriority" [(ngModel)]="ClientPriority" placeholder="Select a Priority" optionLabel="priority" [showClear]="false"></p-dropdown>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input size="50" id="ProjectName" type="text" pInputText><label for="ProjectName">Project Name</label></span>
                </li>
                <li class="mt-4">
                    <p-dropdown [style]="{'width':'375px'}" [options]="ProjectLead" [(ngModel)]="ProjectLead" placeholder="Select a Project Lead" optionLabel="projectlead" [showClear]="false"></p-dropdown>
                </li>
                <li class="mt-4">
                    <p-dropdown [style]="{'width':'375px'}" [options]="ProjectStatus" [(ngModel)]="ProjectStatus" placeholder="Select a Project Status" optionLabel="projectstatus" [showClear]="false"></p-dropdown>
                </li>
                <li class="mt-4">
                    <p-dropdown [style]="{'width':'375px'}" [options]="ProjectHealth" [(ngModel)]="ProjectHealth" placeholder="Select a Project Health" optionLabel="projecthealth" [showClear]="false"></p-dropdown>
                </li>
                <li class="mt-4">
                    <p-calendar [(ngModel)]="ProjectCompletion" [showIcon]="true" placeholder="Project Completion"></p-calendar>
                </li>
                <li class="mt-4">
                    <p-calendar [(ngModel)]="ReleaseMonth" [showIcon]="true" placeholder="Release Month"></p-calendar>
                </li>
                <li class="mt-4">
                    <p-calendar [(ngModel)]="ReleaseMonth" [showIcon]="true" placeholder="Release Date"></p-calendar>
                </li>
                <li class="mt-4">
                    <p-calendar [(ngModel)]="BillingMonth" [showIcon]="true" placeholder="Billing Month"></p-calendar>
                </li>
                <li class="mt-4">
                <label class="d-block t-g700 mb-2">Ready to Start</label>
                    <p-selectButton class="button-toggle" [options]="ReadytoStart" [(ngModel)]="toggleReady"></p-selectButton>
                </li>
                <li class="mt-4">
                <label class="d-block t-g700 mb-2">Archive</label>
                    <p-selectButton class="button-toggle" [options]="ArchiveProject" [(ngModel)]="toggleArchive"></p-selectButton>
                </li>
            </ul>
        </div>
        <div class="columns-6 py-1 px-4">
            <ul class="p-4">
                <li>
                    <h2 class="f-md f-bold">Estimated Development Hours</h2>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input size="30" id="EstDevelopment" type="text" pInputText><label for="EstDevelopment">Estimated Development</label></span>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input size="30" id="EstDatabase" type="text" pInputText><label for="EstDatabase">Estimated Database</label></span>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input size="30" id="EstVDP" type="text" pInputText><label for="EstVDP">Estimated VDP</label></span>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input size="30" id="EstBAPM" type="text" pInputText><label for="EstBAPM">Estimated BA/PM</label></span>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input  size="30" id="EstQA" type="text" pInputText><label for="EstQA">Estimated QA</label></span>
                </li>
                <li class="mt-4">
                    <h2 class="f-md f-bold">Remaining Development Hours</h2>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input size="30" id="RemainDevelopment" type="text" pInputText><label for="RemainDevelopment">Remaining Development</label></span>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input size="30" id="RemainDatabase" type="text" pInputText><label for="RemainDatabase">Remaining Database</label></span>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input size="30" id="RemainVDP" type="text" pInputText><label for="RemainVDP">Remaining VDP</label></span>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input size="30" id="RemainBAPM" type="text" pInputText><label for="RemainBAPM">Remaining BA/PM</label></span>
                </li>
                <li class="mt-4">
                    <span class="ui-float-label"><input  size="30" id="RemainQA" type="text" pInputText><label for="RemainQA">Remaining QA</label></span>
                </li>
                <li class="mt-4">
                    <div class="wrapper">
                        <div class="row baseline-2">
                            <div class="columns-4 py-2">
                                <label class="t-g700">Estimated Hours:</label>
                            </div>
                            <div class="column px-2">
                                <label class="t-s500 f-bold">Calculated Hours</label>
                            </div>
                        </div>
                        <div class="row baseline-2">
                            <div class="columns-4 py-2">
                                <label class="t-g700">Remaining Hours:</label>
                            </div>
                            <div class="column px-2">
                                <label class="t-s500 f-bold">Calculated Hours</label>
                            </div>
                        </div>
                        <div class="row baseline-2">
                            <div class="columns-4 py-2">
                                <label class="t-g700">Total Hours:</label>
                            </div>
                            <div class="column px-2">
                                <label class="t-s500 f-bold">Calculated Hours</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>      