<p-overlayPanel #op1>
    <ul class="form-group" style="display: none;">
        <li class="form-input">
            <div class="input-dropdown">
                <p-dropdown [options]="reports" [(ngModel)]="selectedReport" placeholder="Select a Report" optionLabel="reports" [showClear]="false"></p-dropdown>
            </div>
        </li>
        <li class="form-input">
            <div class="input-datepicker">
                <p-calendar [(ngModel)]="rptStartDate" [showIcon]="true"></p-calendar>
            </div>
        </li>
        <li class="form-input">
            <div class="input-datepicker">
                <p-calendar [(ngModel)]="rptEndDate" [showIcon]="true"></p-calendar>
            </div>
        </li>
        <li class="form-input">
            <button pButton id="btnViewReport" type="button" label="View Report" class="button-primary"></button>
        </li>
    </ul>
</p-overlayPanel>

