<div class="container mt-5 pt-5">
    <div class="row row-justify-center">
        <div class="columns-3 bg-g150 p-4 b-bottom b-right b-g200 r-2">
            <ul>
                <li class="pb-3">
                    <label>Enter your new password</label>
                </li>
                <li class="pb-3 mt-1 input-full">
                    <span class="ui-float-label"><input id="NewPassword" type="text" pInputText><label for="EmailPasswordReset">Enter new password</label></span>
                </li>
                <li class="pb-3 mt-1 input-full">
                    <span class="ui-float-label"><input id="NewPasswordVerification" type="text" pInputText><label for="EmailPasswordReset">Enter password again</label></span>
                </li>
                <li class="pb-3">
                    <button pButton id="btnUpdatePassword" class="bg-p500" type="button" label="Update Password" [routerLink]="['/']"></button>
                </li>
            </ul>
        </div>
    </div>
</div>
