<div class="login">
  <p class="txt-primary">
      <label>Enter your new password</label>
  </p>
  <div class="form-input">
      <p class="input-text">
          <span class="ui-float-label"><input id="NewPassword" type="text" pInputText><label for="EmailPasswordReset">Enter new password</label></span>
      </p>
  </div>
  <div class="form-input">
    <p class="input-text">
        <span class="ui-float-label"><input id="NewPasswordVerification" type="text" pInputText><label for="EmailPasswordReset">Enter password again</label></span>
    </p>
  </div>
  <p class="form-input">
      <button pButton id="btnUpdatePassword" type="button" label="Update Password" class="button-primary"></button>
  </p>
</div>
