<app-header></app-header>
 <main class="container">
    <div class="row">
        <div class="columns-12 bg-g200">
            <app-projectsearch></app-projectsearch>
        </div>
    </div>
    <div class="row mt-3">
        <div class="column px-4">
            <button pButton id="btnCreateProject" type="button" label="Create Project" icon="pi pi-plus" class="bg-p500 r-1" (click)="project = true"></button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="columns-12 gutter-3">
            <app-projectcard></app-projectcard>
        </div>
    </div>
    <div class="row row-justify-center mt-5">
        <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
    </div>
 </main>
 <p-sidebar [(visible)]="project" [fullScreen]="true"> 
    <app-projectinfo></app-projectinfo>
</p-sidebar>


