<app-header></app-header>

<main>
    <div class="grid-2">
        <div class="col-1">
            <a class="button-icon-link"><i class="fas fa-plus-square"></i>&nbsp; Create New Project</a>
        </div>
        <div class="col-2">
            <a href="#" class="button-primary">Save</a>&nbsp;<a href="#" class="button-secondary">Close</a>
        </div>
    </div>
    <div class="search">
        <div class="input-text">
            <!-- placeholder for PrimeNG input text with button addon -->
            <div class="ui-inputgroup">
                <input type="text" placeholder="Search" class="ui-inputtext ui-corner-all ui-state-default"><span class="ui-inputgroup-addon button-primary">Search</span>
            </div>
        </div>
    </div>
    <app-projectcard></app-projectcard>
</main>