<app-header></app-header>
<!-- <app-projectinfo [open]="isAddEditOpen"></app-projectinfo>
 --><main>
    <div class="container txt-left">
        <button pButton id="btnCreateProject" type="button" label="Create Project" icon="pi pi-plus" routerLink="/projectinfo" class="button-primary"></button>
    </div>
    <div class="container input-text">
        <div class="ui-inputgroup search">
            <span class="ui-float-label"><input id="Search" type="text" pInputText><label for="UserName">Search</label></span>
            <span class="ui-inputgroup-addon"><button pButton id="btnSearch" type="button" label="Search" class="button-primary"></button></span>
        </div>
    </div>
    <div class="container">
        <app-projectcard></app-projectcard>
    </div>
    <div class="container">
        <p-paginator></p-paginator>
    </div>
</main>

