<div class="card">
    <div class="grid-3">
        <div class="col-1">
            <i id="ProjectStatus" class="flag-good fas fa-flag"></i>
        </div>
        <div class="col-2">
            <div class="grid">
                <div class="col-1">
                    <h1 class="title">New workflow for Client member mailing</h1>
                    <h3 class="subtitle"><label id="ProjectClient">DentaQuest</label>&nbsp;<label id="BillingType">(B)</label>&nbsp;<label id="ProjectCode">(DQB)</label></h3>
                </div>
                <div class="col-2">
                    <!-- placeholder for PrimeNG progress bar -->
                </div>
            </div>
        </div>
        <div class="col-3">
            <a class="button-icon-link-secondary"><i class="fas fas fa-edit"></i>
        </div>
    </div>
</div>
