<div class="card">
    <div class="grid-3">
        <div class="col-1">
            <app-statusflag></app-statusflag>
        </div>
        <div class="col-2">
            <div class="grid">
                <div class="col-1">
                    <h1 class="title"><label id="ProjectName">New workflow for Client member mailing</label></h1>
                    <h3 class="subtitle"><label id="ProjectClient">DentaQuest</label>&nbsp;<label id="BillingType">(B)</label>&nbsp;<label id="ProjectCode">(DQB)</label></h3>
                </div>
                <div class="col-2">
                    <!-- placeholder for PrimeNG progress bar -->
                    <div class="progressbar ui-progressbar-label">
                        <div class="progress-good"></div>
                    </div>
                    <!-- label for progress bar with progress percentage and hours remaining -->
                    <label><span></span id="Progress">65%&nbsp;|&nbsp;<span id="HoursRemaining">7 hours remaining</span></label>
                </div>
            </div>
        </div>
        <div class="col-3">
            <a class="button-icon-link-secondary"><i class="fas fas fa-edit"></i>
        </div>
    </div>
</div>
