<div class="card">
    <div class="grid-3">
        <div class="col-1">
            <app-statusflag></app-statusflag>
        </div>
        <div class="col-2">
            <div class="grid-2">
                <div class="col-1">
                    <app-projectcarddata></app-projectcarddata>
                </div>
                <div class="col-2">
                    <app-projectprogressbar></app-projectprogressbar>
                </div>
            </div>
        </div>
        <div class="col-3">
            <button pButton id="btnCreateProject" type="button" icon="pi pi-pencil" routerLink="/projectinfo" class="button-secondary"></button>
        </div>
    </div>
</div>
